/*@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");*/

body {
	color: black;
	background-color: floralwhite;
	font-family: noto-sans; 
	padding: 50px;
}

h1 {
	font-size: 24px;
	font-family: helvetica;
}

h2 {
	font-size: 18px;
	font-family: helvetica;
}

h3 {
	font-size: 14px;
	font-family: helvetica;
}

p {
	font-family: hk-grotesk;
	font-size: 12px;
}