body {
  /*text-align: center;*/
  background-color: Black;
  /*color: orange;*/
  font-family: helvetica;
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 500px;
  /*border: solid purple;*/
}

h1 {
	font-family: helvetica;
	color: tomato;
}

a {
	color: slateblue;
	text-decoration: none;
}

a:hover {
	color: violet;
}

#box {
  width: 50rem;
  height: 20rem;
  border: 0.2rem;
  border-style: solid;
  border-color: orange;
  border-radius: 2px;
  font: .85rem helvetica;
  margin: .2rem;
  padding: .1rem;
  outline-offset: 0.5rem;
  background-color: slateblue;
  display: inline-block;
  animation-name: colorchange;
  animation-duration: 90s;
}

#box2 {
  width: 50rem;
  height: 20rem;
  border: 0.2rem;
  border-style: solid;
  border-color: tomato;
  border-radius: 2px;
  font: .85rem helvetica;
  margin: .2rem;
  padding: .1rem;
  outline-offset: 0.5rem;
  background-color: slateblue;
  display: inline-block;
  animation-name: colorchangetwo;
  animation-duration: 90s;
}

#box3 {
  width: 50rem;
  height: 20rem;
  border: 0.2rem;
  border-style: solid;
  border-color: tomato;
  border-radius: 2px;
  font: .85rem helvetica;
  margin: .2rem;
  padding: .1rem;
  outline-offset: 0.5rem;
  background-color: slateblue;
  display: inline-block;
/*  animation-name: colorchange2;
  animation-duration: 90s;*/
}

#box4 {
  width: 200rem;
  height: 20rem;
  border: 0.2rem;
  border-style: solid;
  border-color: tomato;
  border-radius: 2px;
  font: .85rem helvetica;
  margin: .2rem;
  padding: .1rem;
  outline-offset: 0.5rem;
  background-color: slateblue;
  display: inline-block;
  animation-name: colorchangetwo;
  animation-duration: 90s;
}

#box5 {
  width: 50rem;
  height: 30rem;
  border: 0.2rem;
  border-style: solid;
  border-color: moccasin;
  border-radius: 2px;
  font: .85rem helvetica;
  margin: .2rem;
  padding: .1rem;
  outline-offset: 0.5rem;
  background-color: slateblue;
  display: inline-block;
  animation-name: colorchangethree;
  animation-duration: 90s;
}

#box6 {
  width: 50rem;
  height: 30rem;
  border: 0.2rem;
  border-style: solid;
  border-color: palegoldenrod;
  border-radius: 2px;
  font: .85rem helvetica;
  margin: .2rem;
  padding: .1rem;
  outline-offset: 0.5rem;
  background-color: slateblue;
  display: inline-block;
  animation-name: colorchangefour;
  animation-duration: 90s;
}

@keyframes colorchange {
	from {background-color: slateblue;}
	to {background-color: orange;}
}

@keyframes colorchangetwo {
	from {background-color: slateblue;}
	to {background-color: tomato;}
}

@keyframes colorchangethree {
	from {background-color: slateblue;}
	to {background-color: moccasin;}
}

@keyframes colorchangefour {
	from {background-color: slateblue;}
	to {background-color: palegoldenrod;}
}

.container {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: stretch;
  align-content: center;
}