body {
	background-color: white;
	text-align: left;
}

p {
	font-family: geneva;
	font-size: 24px;
	color: darkred;
	padding: 25px;
}

#div1 {
	width: 500px;
	height: 100px;
	background-color: indianred;
	text-align: center;
	border-radius: 20px;
}

@media all and (min-width: 600px)
{
	p {
		font-size: 36px;
		padding: 65px;
		color: sienna;
	}
	#div1 {
		width:  650px;
		height: 200px;
		background-color: lightsalmon;
	}
}

@media all and (min-width: 780px)
{
	p {
		font-size: 54px;
		padding: 100px;
		color: sandybrown;
	}
	#div1 {
		width: 800px;
		height: 300px;
		background-color: lemonchiffon;
	}
}

@media all and (min-width: 960px)
{
	p {
		font-size: 81px;
		padding: 120px;
		color: seagreen;
	}
	#div1 {
		width: 950px;
		height: 400px;
		background-color: lightgreen;
	}
}

@media all and (min-width: 1140px)
{
	p {
		font-size: 95px;
		padding: 165px;
		color: teal;
	}
	#div1 {
		width: 1100px;
		height: 500px;
		background-color: mediumturquoise;
	}
}

@media all and (min-width: 1320px)
{
	p {
		font-size: 102px;
		padding: 210px;
		color: indigo;
	}
	#div1 {
		width: 1300px;
		height: 600px;
		background-color: mediumslateblue;
	}
}

@media all and (min-width: 1380px)
{
	p {
		font-size: 102px;
		padding: 210px;
		color: white;
	}
	#div1 {
		width: 1300px;
		height: 600px;
		background-image: url(https://media3.giphy.com/headers/jmckeehen/s2wy7iphPP98.gif) ;
	}
}